/*
	Copywrite Square Bracket LLC - Sean Clark 2012-3012
	http://square-bracket.com 	
	http://connect.ai	
	http://youtube.com/optikalefxx
*/
.tags-wrapper {
	margin-top: 0;
	width: 380px;
	font-size: 18px;
	height: 45px;
	border: 0;
	border-radius: 4px 0 0 0;
	background: #eeebeb;
	color: #888;
	float: left;
	position: relative;
	padding: 8px 16px 0px 20px;
	overflow-x: scroll;
	overflow-y: hidden;
}
.tags-wrapper ul {
	margin:0px;
	float: left;
	list-style-type: none;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
	position: relative;
	white-space:nowrap;
}
.tags-wrapper li {
	position: absolute;
	
	top: 0;
	left: 0;
}
.tags-wrapper li.tag {
	font-size:16px;
	padding: 6px 16px 6px 16px;
	border-radius:3px;
	list-style: none;
	background-color: #ddd;
	color: #333;
	border: 1px solid #999;
	line-height: 13px;
}
.tags-wrapper li a {
	text-decoration:none;
	padding:2px;
	display:inline-block;
	margin-left:6px;
	color: rgb(51, 51, 51);
}
.tags-wrapper li a:hover {
	color:#222;
}
.tags-wrapper input {
	display:none;
}
.tags-wrapper li.tags-input {
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
.tags-wrapper li input {
	display:block;
	background:trasparent;
	outline:none;
	border:none;
	font-size: 18px;
	height: auto;
	margin: 4px;
	display: none;
}
.tags-wrapper .autofill-bg {
	position:relative;
	top:4px;
}